%h1
	Where's Edward?

= image_tag 'edward.jpg'

%table
	%thead
		%tr
			%th
				Sighting ID
			%th
				Location
			%th
				Latitude
			%th
				Longitude
	%tbody
	-@sighting.each do |sighting|
		%tr
			%td
				=sighting.id
			%td
				=link_to sighting.location, sighting_path(sighting)
			%td
				=sighting.longitude
			%td
				=sighting.latitude
		